input {
    keyboard {
        repeat-delay 280
        repeat-rate 32
        numlock
    }

    touchpad {
        tap

        natural-scroll
        scroll-factor 0.5
    }

    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="95%"
}

// PC Left Monitor
output "Lenovo Group Limited L28u-35 U1AKH578" {
    mode "3840x2160"
    scale 1
    transform "normal"
    position x=0 y=0
    focus-at-startup
    variable-refresh-rate on-demand=true
}

// PC Right Monitor
output "Lenovo Group Limited L28u-35 U1AKC209" {
    mode "3840x2160"
    scale 1
    transform "normal"
    position x=3840 y=0
    variable-refresh-rate on-demand=true
}

// Laptop
output "Chimei Innolux Corporation 0x15DC Unknown" {
    mode "1366x768@60.003"
    scale 1.0
    transform "normal"
    position x=0 y=0
}

layout {
    gaps 16

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        on

        width 4

        active-color "#D780FF"

        inactive-color "#505050"
    }
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

spawn-sh-at-startup "swaybg -i ~/.config/niri/default-background.png"

spawn-sh-at-startup "waybar -c ~/.config/niri/niri-waybar/config.jsonc -s ~/.config/niri/niri-waybar/style.css 2>&1 > ~/.config/niri/waybar.log"

spawn-at-startup "discord"
spawn-sh-at-startup "spotify-launcher || spotify"

spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"

window-rule {
    // Open Discord in correct location
    match app-id="discord"

    default-column-width { proportion 0.5; }
    open-on-output "Lenovo Group Limited L28u-35 U1AKC209"
    open-focused false
}

window-rule {
    // Open Spotify in correct location
    match app-id="Spotify"

    default-column-width { proportion 0.5; }
    open-on-output "Lenovo Group Limited L28u-35 U1AKC209"
    open-focused false
}

window-rule {
    // Open the Firefox picture-in-picture player as floating by default.
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    // Global window rules
    geometry-corner-radius 10
    clip-to-geometry true
    draw-border-with-background false
}

gestures {
    hot-corners {
        off
    }
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
    Mod+P hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    Mod+Semicolon hotkey-overlay-title="Find a Window: fuzzel" { spawn-sh "/home/jake/.config/niri/niri-fuzzel-switcher/niri_fuzzel_switcher"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 1%+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 1%-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true   { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+W repeat=false { toggle-overview; }
    Mod+XF86TouchpadToggle repeat=false { toggle-overview; }

    Mod+Shift+Q repeat=false { close-window; }

    // Focus
    Mod+H    { focus-column-left; }
    Mod+J    { focus-window-down; }
    Mod+K    { focus-window-up; }
    Mod+L    { focus-column-right; }
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }

    // Move
    Mod+Shift+H    { move-column-left; }
    Mod+Shift+J    { move-window-down; }
    Mod+Shift+K    { move-window-up; }
    Mod+Shift+L    { move-column-right; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }

    // Monitor Focus
    Mod+Comma  { focus-monitor-left; }
    Mod+Period { focus-monitor-right; }

    // Monitor Move
    Mod+Shift+Comma  { move-column-to-monitor-left; }
    Mod+Shift+Period { move-column-to-monitor-right; }

    // Workspaces
    Mod+U       { focus-workspace-down; }
    Mod+I       { focus-workspace-up; }
    Mod+Shift+U { move-column-to-workspace-down; }
    Mod+Shift+I { move-column-to-workspace-up; }

    // Move Workspaces
    Mod+Ctrl+U { move-workspace-down; }
    Mod+Ctrl+I { move-workspace-up; }

    // TODO: Do scroll wheel config here

    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Column Stacking
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Column Width
    Mod+R       { switch-preset-column-width; }
    Mod+Shift+R { reset-window-height; }
    Mod+Minus   { set-column-width "-10%"; }
    Mod+Equal   { set-column-width "+10%"; }

    // Column Height
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Fullscreen
    Mod+F       { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+M       { maximize-window-to-edges; }
    Mod+Ctrl+F  { expand-column-to-available-width; }

    // Centering
    Mod+C       { center-column; }
    Mod+Shift+C { center-visible-columns; }

    // Floating
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Tabbed Mode
    Mod+T { toggle-column-tabbed-display; }

    // Screenshots
    Mod+Y       { screenshot; }
    Mod+Shift+Y { screenshot-screen; }
    Mod+Ctrl+Y  { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
}

spawn-at-startup "noctalia"
